@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>About Me</h1>
    <section class="row" id="aboutMe">
    <div class="col-sm-12 col-md-5 col-lg-5">
    <img src="~/images/asp.png">
    </div>
     <div class="col-sm-12 col-md-5 col-lg-5">
    <p>Me llamo Kevin Florencia siempre he tenido interés por la informatica y ahora me dedico profesionalmente al desarrollo Web y a la programación. Mi especialidad es el backend</p>
    </div>
    

    </section>

    
}
