@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
    <h1 class="text-center">Contacto</h1>
    <h3>Formas de ponerse en contacto</h3>
    <p>Telefono: 601 16 56 71</p>
    <p>E-Mail: kevinflomor@campus.monlau.com</p>
}
