@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<section class="text-left">
<h3>Al utilizar nuestros servicios, nos confías tus datos. Entendemos que es una gran responsabilidad y nos esforzamos al máximo para proteger tu información y permitirte controlarla.</h3
<p>El objetivo de esta Política de Privacidad es informarte sobre qué datos recogemos, por qué los recogemos y cómo puedes actualizarlos, gestionarlos, exportarlos y eliminarlos.</p>
<p>Si la normativa de protección de datos de la Unión Europea o del Reino Unido se aplica al tratamiento de tu información, puedes consultar la sección Requisitos europeos más abajo para obtener más información sobre tus derechos y el cumplimiento de estas leyes por parte de Google.</p>
</section>